@font-face {
    font-family: DINWebPro;
    src: url("../fonts/DINWebPro.woff") format("woff");
}

@font-face {
    font-family: DINWebPro-Bold;
    src: url("../fonts/DINWebPro-Bold.woff") format("woff");
}

body {
    font-family: DINWebPro, Calibri, Arial, sans-serif;
}

web-header .site-logo a{
    background-image: url("img/ans.png");
    background-size: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    position: relative;
    text-indent: -99999999px;
    top:-30px;
    width: 50px;
}

.web-header {
    background: url(../img/web-header.jpg) no-repeat left center;
    background-size: 100%;
    background-position: center;
    height: 350px;
    position: relative;
}

.header-text {
    position: absolute;
    bottom: 10%;
}

h1 {
  color: #64A70B;
  font-size: 26px;
}


.web-header h1 {
    font-family: DINWebPro-Bold, Calibri, Arial, sans-serif;
    color: #fff;
    margin: 0;
    font-size: 38px;
    text-transform: uppercase;
}

.web-header h2 {
    font-family: DINWebPro, Calibri, Arial, sans-serif;
    color: #fff;
    margin: 0;
    font-size: 38px;
    text-transform: uppercase;
}

.ANS logo.png img {
    margin: 0 auto;
    max-width: 200px;
    margin: 0 0 20px 0;
}

.features {
    background: white;
    color: gray;
    padding 20px;
    display: flex;
    flex-direction: row;
    position: left;
}

.features figure {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
    position: left;
}

.features figure img {
    border: 1px solid white;
    border-radius: 10%;
    box-shadow: gray 0 0 10px;
    width: 50px;
    position: left;
}

.footer {
    background-color: #58595b;
    color: #58595b;
    font-size: 20px;
    padding: 30px 30px;
    text-align: left;
}
